In [1]:
# Import Libraries

import pandas as pd
import numpy as np

In [113]:
# Import file

train = pd.read_csv("tsd_train.csv")

In [114]:
train.head()

,spans,text
0,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",Another violent and aggressive immigrant killi...
1,"[33, 34, 35, 36, 37, 38, 39]","I am 56 years old, I am not your fucking junio..."
2,"[0, 1, 2, 3]","Damn, a whole family. Sad indeed."
3,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]",What a knucklehead. How can anyone not know th...
4,"[32, 33, 34, 35, 36, 37, 38]","""who do you think should do the killing?""\r\n\..."

In [115]:
# Make a list of list with character offsets of dataset

spans = []

for i, row in train.iterrows():
    to_append_list = [int(x) for x in str(train["spans"].iloc[i])[1:len(train["spans"].iloc[i])-1].split(", ") if len(x) > 0]
    spans.append(to_append_list)

In [117]:
# Group non-contiguous spans

import more_itertools as mit
span_grouped = []

for i in range(len(spans)):
    span_grouped.append([list(group) for group in mit.consecutive_groups(spans[i])])

In [101]:
# Find starting and ending offset of non-contiguos offset

final = []

for i in range(len(span_grouped)):
    span_grouped_just_group_sentence = []
    for ranges in span_grouped[i]:
        span_grouped_just_group_groups = []
        if len(ranges) > 0:
            span_grouped_just_group_groups = [ranges[0],ranges[-1]]
        
        span_grouped_just_group_sentence.append(span_grouped_just_group_groups)
        
    final.append(span_grouped_just_group_sentence)

In [103]:
count_spans = [item for sublist in final for item in sublist]

In [105]:
texts = list(train["text"])

In [106]:
only_spans = []

for i in range(len(final)):
    sentence_spans = []
    for j in range(len(final[i])):
        text = texts[i][final[i][j][0]:final[i][j][1]+1]
        sentence_spans.append(text)
    only_spans.append(sentence_spans)

In [108]:
all_length = []
count_span = 0
for sentence_span in only_spans:
    for span in sentence_span:
        all_length.append(len(span.split(" ")))
        count_span += 1

In [109]:
# To make span length as a list of lists

#all_length = []
#count_span = 0
#for sentence_span in only_spans:
#    sentence_span_length = []
#    for span in sentence_span:
#        sentence_span_length.append(len(span.split(" ")))
#    all_length.append(sentence_span_length)

In [110]:
sum(all_length) / 10298

2.4280442804428044

In [111]:
from collections import Counter

In [112]:
Counter(all_length)

Counter({4: 231,
         1: 6837,
         2: 1800,
         6: 123,
         7: 88,
         5: 163,
         8: 65,
         3: 614,
         26: 7,
         28: 7,
         30: 7,
         12: 22,
         9: 37,
         14: 15,
         13: 23,
         10: 35,
         21: 8,
         32: 5,
         66: 2,
         20: 9,
         56: 1,
         11: 40,
         17: 18,
         49: 2,
         142: 1,
         174: 1,
         16: 9,
         15: 15,
         25: 6,
         23: 8,
         27: 5,
         52: 1,
         35: 1,
         18: 14,
         22: 3,
         53: 4,
         175: 1,
         57: 3,
         50: 2,
         29: 10,
         19: 8,
         24: 5,
         34: 3,
         36: 1,
         41: 1,
         158: 1,
         132: 1,
         33: 2,
         38: 1,
         31: 3,
         88: 1,
         59: 1,
         84: 1,
         161: 1,
         44: 3,
         101: 1,
         69: 1,
         42: 4,
         51: 2,
         82: 1,
         166: 1,
         45: 1,
         54: 1,
         47: 1,
         92: 1,
         108: 1,
         99: 1,
         74: 1,
         152: 1,
         63: 1,
         43: 1,
         55: 1,
         39: 1})